{% extends 'blog/base.html' %}

{% block content %}
<h2>Mindful Living</h2>
<h5>About Us!</h5>
<p>Packages are a way of structuring Python’s module namespace by using “dotted module names”.
    For example, the module name A.B designates a submodule named B in a package named A.
    Just like the use of modules saves the authors of different modules from having to
    worry about each other’s global variable names, the use of dotted module names
    saves the authors of multi-module packages like NumPy or Pillow from having to
    worry about each other’s module names.</p>

{% endblock %}

